@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: PressStart2P;
    src: url('../assets/fonts/PressStart2P/PressStart2P-Regular.ttf');
}

html {
    font-family: 'Inter';
}
